{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<script>    
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    function sendFriendReq(usr_name){
        console.log(usr_name);
        
        fetch('/users/send-friend-req/'+String(usr_name)+'/', {
            headers: {'X-CSRFToken': csrftoken},
            method: 'POST',
            mode: 'same-origin'  // Do not send CSRF token to another domain.
        }).then(function(response) {
            response.json().then(function(data){
                if(data.status){
                    
                    var prev_val = $('#send-friend-req').html(); 
                    console.log(prev_val);
                    if(String(prev_val)=='Send Friend Request')
                    {
                        console.log(1);
                        $('#send-friend-req').text('Cancel Request');
                    }
                    else
                    {
                        $('#send-friend-req').text('Send Friend Request');
                    }
                }
                else
                {
                    alert(data.msg);
                }
            })
        });
    }
    edit_blg_id = null;
    function toogleEdit(blg_id){    
        if(edit_blg_id!=null)
        {
            var id = "#"+"blog_"+String(edit_blg_id);           
            $(id).toggle();  
            var id2 = "#"+"blog_edit_"+String(edit_blg_id);
            $(id2).toggle();  
        }    
        var id = "#"+"blog_"+String(blg_id);           
        $(id).toggle();  
        var id2 = "#"+"blog_edit_"+String(blg_id);
        $(id2).toggle(); 
        edit_blg_id = blg_id; 
        return false;
    }
    
    $(document).ready(
        function(){
            {%for blg in blgs%}
            var id = "#"+"id_visibility_{{blg.blg.id}}";
            var $option = $(id).children('option[value="{{blg.blg.visibility}}"]');
            $option.attr("selected",true);
            //var id2 = "#"+"blog_edit_{{blg.blg.id}}";
            //$(id2).css('display','none');  
            {%endfor%}
            {%if is_auth%}
                {%if not is_curr_user%}
                    {%if friend_req_sent%}
                    $('#send-friend-req').text('Cancel Request');
                    {%else%}
                    $('#send-friend-req').text('Send Friend Request');
                    {%endif%}
                {%endif%}
            {%endif%}
            
            
        }
    );
    
</script>
<style>
    .container {
        background-color: rgb(218, 229, 238);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    .profile-pic {
        height: 110px;
        overflow: hidden;
    }

    .profile-header {
        background-color: rgb(250, 250, 250);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
        border: 0;
        padding: 2rem;
        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 20px;
        border-top-width: 3px;
    }

    .navigator {
        background-color: rgb(155, 205, 247);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
        border: 0;

        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 20px;
        border-top-width: 3px;
    }

    .profile-cover {
        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 20px;
        border-top-width: 3px;
    }

    .profile-name {
        font-size: large;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: darkblue;
    }

    .rating {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        font-size: medium;
        color: blue;
    }

    .edit-profile {
        align-content: flex-end;
        text-align: right;
    }

    .personal-details {
        background-color: rgb(250, 250, 250);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
        border: 0;
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 20px;
        border-top-width: 3px;
    }

    .profile-body {
        padding: 2rem;
    }

    .blog {
        background-color: rgb(250, 250, 250);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
        border: 0;
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 20px;
        margin-left: 1rem;
        border-top-width: 3px;
    }
    .blog-subject {
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }
    .create-blog {
        padding: 2rem;
    }
    .blog{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    .blog-edit{    
        display: none;
    }
    .blog-body {
        
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
        border: 0;
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 16px;
        margin-top: 20px;

        border-top-width: 3px;
    }
    .thumb48 {
        width: 48px;
        height: 48px;
    }
    .blog-edit{  
        margin: 2rem;      
        display: none;
    }
</style>
<div class="container">
    <div class="main-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <form class="form-inline" action="/users/search/" method="post">
                {%csrf_token%}
                <input class="form-control mr-sm-2 " required name = "src_text" type="search" placeholder="Search" aria-label="Search">
                <button class="btn bg-primary  my-2 my-sm-0 " type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if is_auth %}
                    <li class="nav-item active">
                        <img class="center-block img-responsive img-circle img-thumbnail thumb48"
                            src={{curr_user.pic.url}} alt="Profile Picture">
                    </li>
                    {%endif%}
                    <li class="nav-item ">
                        <a class="nav-link" href="/users/home">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/blogs">Blogs</a>
                    </li>
                    {%if is_auth%}
                    <li class="nav-item">
                        <a class="nav-link active" href="/users/profile/{{curr_user.user.username}}">Profile<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/{{curr_user.user.username}}/friends/">Friends</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/users/friend-requests/">Friend Requests</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
                    <div class="nav-item " >
                        Welcome, {{curr_user.user.first_name}}
                    </div>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign-up">Sign Up</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

        <div class="profile-header">
            <div class="row justify-content-between profile-cover">
                <div class="col-8 profile-pic-name align-self-start">
                    <div>
                        <img class="profile-pic " alt="profile" src={{user.pic.url}}>
                        <div class="profile-name">{{ user.user.first_name }} {{user.user.last_name}}</div>
                        <div class='rating'>&nbsp Rating : {{user.rating}}</div>
                    </div>
                </div>

                <div class="col-4 align-self-end">
                    {%if is_auth and is_curr_user%}
                    <a class="btn btn-primary" href="/users/update-profile"> Edit Profile</a>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-4">
                    <a href="/users/{{user.user.username}}/friends">Friends({{nf}})</a>
                </div>
                {% if is_auth and not is_curr_user and not is_friend %}
                <div class="col-4">
                    <button onclick="sendFriendReq('{{user.user.username}}');return false;" id="send-friend-req" class="btn btn-outline-primary">
                        
                    </button>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="profile-body">
            <div class="row">
                <div class="col-4 personal-details">
                    <!--Profile Details-->

                    <div class="card">

                        <div class="card-body ">
                            <div class="card-title">
                                <h4>Profile Details</h4>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <h6>First Name</h6>
                                </div>
                                <div class="col-8">
                                    <h6>{{user.user.first_name}}</h6>
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <h6>Last Name</h6>
                                </div>
                                <div class="col-8">
                                    <h6>{{user.user.last_name}}</h6>
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <h6>Bio</h6>
                                </div>
                                <div class="col-8">
                                    <h6>{{user.bio}}</h6>
                                </div>

                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4">
                                    <h6>Email</h6>
                                </div>
                                <div class="col-8">
                                    <h6>{{user.user.email}}</h6>
                                </div>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-7 blog">
                    <!--Blogs by user-->
                    <div class="card">

                        <div class="card-body " >
                            <div class="card-title">
                                <h4>Blogs</h4>
                            </div>
                            <ul class="list-group " style="list-style-type: none;">
                                <!--FORM FOR BLOG CREATION-->
                                {% if is_auth %}
                                <li class="list-group-item">
                                    <form class="form-group create-blog" method="post" action="/blogs/post-blog/">
                                        {% csrf_token %}
                                        <div class="row">
                                            <label class="col-auto " for="subject">Subject :</label>
                                            <input class="col-auto col-sm-6 form-control" type="text" required
                                                placeholder="Subject" name="subject" id="subject">
                                        </div>
                                        <br>
                                        <div>
                                            <label class="required" for="id_visibility">Visibility:</label>
                                            <select name="visibility" id="id_visibility">
                                                <option value="ONLY_ME" selected="">Only Me</option>
                                                <option value="FRIENDS">Friends</option>
                                                <option value="PUBLIC">Public</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <label class="col-12" for="content">Content:</label>
                                        </div>
                                        <div class="row">
                                            <textarea class="col-12 form-control " required
                                                placeholder="Write your Blog" name="content" id="content"></textarea>
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Post Blog">
                                    </form>
                                </li>
                                {%endif%}

                                {% for blg in blgs %}
                                <li class="list-group-item blog-edit" id="blog_edit_{{blg.blg.id}}">
                                    <!--FOR EDITING BLOG-->
                                    <form class="form-group create-blog" method="post"
                                        action="/blogs/update-blog/{{blg.blg.id}}/">
                                        {% csrf_token %}
                                        <input type="hidden" name="back_ref" value="#blog_{{blg.blg.id}}">
                                        <div class="row">
                                            <label class="col-auto " for="subject">Subject :</label>
                                            <input class="col-auto form-control" type="text" required
                                                placeholder="Subject" name="subject" id="subject"
                                                value="{{blg.blg.subject}}">
                                        </div>
                                        <br>
                                        <div>
                                            <label class="required" for="id_visibility">Visibility:</label>
                                            <select name="visibility" id="id_visibility_{{blg.blg.id}}">
                                                <option value="ONLY_ME">Only Me</option>
                                                <option value="FRIENDS">Friends</option>
                                                <option value="PUBLIC">Public</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <label class="col-12" for="content">Content:</label>
                                        </div>
                                        <div class="row">
                                            <textarea class="col-12 form-control " required
                                                placeholder="Write your Blog" name="content"
                                                id="content">{{blg.blg.content}}</textarea>
                                        </div>
                                        <input type="submit" class="btn btn-primary" value="Update Blog">
                                    </form>
                                </li>

                                <li class="list-group-item blog " id="blog_{{blg.blg.id}}">
                                    <div class="blog-body">
                                        <div class="row justify-content-between blog-header">
                                            <div class="col-9">
                                                <h5 class="blog-subject">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            {{blg.blg.subject}}
                                                        </div>
                                                        <div class="col-auto">
                                                            {% if is_auth and curr_user.user == blg.blg.author %}
                                                            <form class="form-inline">
                                                                {% csrf_token %}
                                                                <button type="submit" type="button"
                                                                    onclick="return toogleEdit({{blg.blg.id}})"
                                                                    class="btn btn-outline btn-sm" name="edit"><i
                                                                        class="fas fa-edit"></i></button>
                                                            </form>

                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </h5>
                                                {{blg.blg.visibility}}
                                            </div>
                                            <div class="col-3">
                                                {{blg.blg.date_posted}}
                                            </div>
                                        </div>
                                        <div class="row blog-content">
                                            <div class="col-12">
                                                {{blg.blg.content}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-3">
                                                <div>
                                                    Votes : {{blg.blg.votes}}
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                {% if is_auth %}
                                                {% if blg.upvoted %}
                                                <form class="form-inline" method="post"
                                                    action="/blogs/upvote-blog/{{blg.blg.id}}/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="back_ref" value="#blog_{{blg.blg.id}}">
                                                    <button type="submit" class="btn btn-primary"
                                                        name="upvote">Upvote</button>
                                                </form>
                                                {%else%}
                                                <form class="form-inline" method="post"
                                                    action="/blogs/upvote-blog/{{blg.blg.id}}/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="back_ref" value="#blog_{{blg.blg.id}}">
                                                    <button type="submit" class="btn btn-outline-primary"
                                                        name="upvote">Upvote</button>
                                                </form>
                                                {%endif%}
                                                {% endif%}
                                            </div>
                                            <div class="col-3">
                                                {% if is_auth %}
                                                {% if blg.downvoted %}
                                                <form class="form-inline" method="post"
                                                    action="/blogs/downvote-blog/{{blg.blg.id}}/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="back_ref" value="#blog_{{blg.blg.id}}">
                                                    <button type="submit" class="btn btn-primary"
                                                        name="downvote">Downvote</button>
                                                </form>
                                                {%else%}
                                                <form class="form-inline" method="post"
                                                    action="/blogs/downvote-blog/{{blg.blg.id}}/">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="back_ref" value="#blog_{{blg.blg.id}}">
                                                    <button type="submit" class="btn btn-outline-primary"
                                                        name="downvote">Downvote</button>
                                                </form>
                                                {%endif%}
                                                {% endif%}
                                            </div>
                                            <div class="col-4">
                                                <div>
                                                    by : <a
                                                        href="/users/profile/{{blg.blg.author.username}}">{{blg.blg.author}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Comments-->
                                    <div class="row justify-content-between">
                                        <div class="col-12">
                                            <h5>Comments</h5>
                                        </div>
                                    </div>
                                    <ul class="comments list-group">
                                        {%for comment in blg.comments%}
                                        <li class="list-group-item">
                                            <div class="row justify-content-between comment-header" id = "comment_{{comment.comment.id}}">
                                                <div class="col-9">
                                                    <h5 class="comment-subject">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                {{comment.comment.subject}}
                                                            </div>

                                                        </div>
                                                    </h5>

                                                </div>
                                                <div class="col-3">
                                                    {{comment.comment.date_posted}}
                                                </div>
                                            </div>
                                            <div class="row comment-content">
                                                <div class="col-12">
                                                    {{comment.comment.content}}
                                                </div>
                                            </div>
                                            <div class="row justify-content-between">
                                                <div class="col-3">
                                                    <div>
                                                        Votes : {{comment.comment.votes}}
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    {% if is_auth %}
                                                    {% if comment.upvoted %}
                                                    <form class="form-inline" method="post"
                                                        action="/blogs/upvote-comment/{{comment.comment.id}}/">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="back_ref" value="#comment_{{comment.comment.id}}">
                                                        <button type="submit" class="btn btn-primary"
                                                            name="upvote">Upvote</button>
                                                    </form>
                                                    {%else%}
                                                    <form class="form-inline" method="post"
                                                        action="/blogs/upvote-comment/{{comment.comment.id}}/">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="back_ref" value="#comment_{{comment.comment.id}}">
                                                        <button type="submit" class="btn btn-outline-primary"
                                                            name="upvote">Upvote</button>
                                                    </form>
                                                    {%endif%}
                                                    {% endif%}
                                                </div>
                                                <div class="col-3">
                                                    {% if is_auth %}
                                                    {% if comment.downvoted %}
                                                    <form class="form-inline" method="post"
                                                        action="/blogs/downvote-comment/{{comment.comment.id}}/">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="back_ref" value="#comment_{{comment.comment.id}}">
                                                        <button type="submit" class="btn btn-primary"
                                                            name="downvote">Downvote</button>
                                                    </form>
                                                    {%else%}
                                                    <form class="form-inline" method="post"
                                                        action="/blogs/downvote-comment/{{comment.comment.id}}/">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="back_ref" value="#comment_{{comment.comment.id}}">
                                                        <button type="submit" class="btn btn-outline-primary"
                                                            name="downvote">Downvote</button>
                                                    </form>
                                                    {%endif%}
                                                    {% endif%}
                                                </div>
                                                <div class="col-4">
                                                    <div>
                                                        by : <a
                                                            href="/users/profile/{{comment.comment.author}}">{{comment.comment.author}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {%endfor%}
                                        {% if is_auth %}
                                        <!--Add Comment-->
                                        <li class="list-group-item">
                                            <form class="form-group create-comment" method="post"
                                                action="/blogs/post-comments/{{blg.blg.id}}/">
                                                {% csrf_token %}
                                                <input type="hidden" name="back_ref" value="#blog_{{blg.blg.id}}">
                                                <div class="row">
                                                    <label class="col-auto " for="subject">Subject :</label>
                                                    <input class="col-auto form-control" type="text" required
                                                        placeholder="Subject" name="subject" id="subject">
                                                </div>
                                                <br>

                                                <div class="row">
                                                    <label class="col-12" for="content">Content:</label>
                                                </div>
                                                <div class="row">
                                                    <textarea class="col-12 form-control " required
                                                        placeholder="Add Comment" name="content"
                                                        id="content"></textarea>
                                                </div>
                                                <input type="submit" class="btn btn-primary" value="Post Comment">
                                            </form>
                                        </li>
                                        {%endif%}
                                    </ul>
                                </li>

                                {% endfor %}
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
<!--
<div class="row profile-head">
    <div class=" col-md-12 ">
        <div >
            <img class="profile-pic " alt="profile" src={{user.pic.url}}>
            <div class="profile-name">{{ user.user.first_name }} {{user.user.last_name}}</div>
            <div class='rating'>&nbsp Rating : {{user.rating}}</div>
        </div>

        <div class="d-md-blocks edit-profile">
            <a class="btn btn-primary" href="#"> Edit Profile</a>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-12 profile-header-links ">
        Friends   |  Blogs
    </div>
</div>
<div class="profile-details">
    <b>First Name: </b>{{user.user.first_name}}
    <br>
    <b>Last Name: </b> {{user.user.last_name}}
    <br>
    <b>Email: </b>{{user.user.email}}
    <br>
    <b>Bio: </b>
    <p>{{user.bio}}</p>
</div>
-->