
{% extends "base.html" %}
{% block content%}
<style>
    body{
    margin: 0;
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.8;
    color: #212529;
    text-align: left;
    {% load static %}
    background-image: url({% static 'galaxy.jpg' %}) ;
   
}
.login-form{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.login-box{
    background-color: rgba(196, 236, 223, 0.5) !important;
    font-size: large;
    font-weight: bold;
    color: rgb(1, 13, 83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
</style>


 

<div class="container">
    <br><br>
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12 login-box">
              <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
              </p>
            </div>

        </div>

    </div>

</div>



{% endblock %}