
{% extends "base.html" %}
{% block content%}
<style>
    body{
    margin: 0;
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.8;
    color: #212529;
    text-align: left;
    {% load static %}
    background-image: url({% static '/galaxy.jpg' %}) ;
   
}
.login-form{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.login-box{
    background-color: rgba(196, 232, 236, 0.5) !important;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #000103;
}
.password
</style>


 

<div class="container">
    <br><br>
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12 login-box">
              <h3>
                Your password has been set. You may go ahead and <a style="color: #014674;" href="/users/login">sign in</a> now.
              </h3>
            </div>

        </div>

    </div>

</div>



{% endblock %}