


{% extends "base.html" %}
{% block content%}
<style>
    body{
    margin: 0;
    font-size: 1.0rem;
    font-weight: 300;
    line-height: 1.8;
    color: #212529;
    text-align: left;
    {% load static %}
    background-image: url({% static '/galaxy.jpg' %}) ;
   
}
.login-form{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.login-box{
    background-color: rgba(196, 232, 236, 0.5) !important;
    
    
}
</style>


 

<div class="container">
    <br><br>
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12 login-box">
                <form id="login-form" method="post" class="form-group">
                  <h3>Forgot password</h3>
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Submit</button>
                </form>
            </div>

        </div>

    </div>

</div>



{% endblock %}